html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .map-container {
    border-radius: 1rem;
    border: solid 7px white;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 100px 80px rgba(0, 0, 0, 0.07);
  }
  

  .marker {
  width: 50px;
  height: 50px;
  background-color: #69306D;
  background-image: url("./../../../assets/img/carro-deportivo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
  .box-inputs {
    background-color: rgb(228, 221, 221);
    color: #a5668b;
    width: 100%;
    border-radius: .5rem;
    border: solid 2px #00000008;
    padding: 1rem;
    box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 100px 80px rgba(0, 0, 0, 0.07);
  }
  
  .mock-input {
    background: white;
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0 0 10px #0000001a;
    color: #808080;
    min-height: 18px;
  }

  .precio-input {
    background: white;
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0 0 10px #0000001a;
    color: #808080;
    min-height: 18px;
    max-height: 20px;
  }
  
  .cantidad-input {
    background: white;
    padding: .5rem;
    margin-bottom: .5rem;
    box-shadow: 0 0 10px #0000001a;
    color: #808080;
    min-height: 18px;
    max-height: 20px;
  }
  .mock-label {
    padding: .25rem;
    font-weight: 600;
  }
  
  .geocoder {
    margin-bottom: .5rem;
    color: white;
    
  }
  
  .geocoder, .mapboxgl-ctrl {
    width: 100%;
    max-width: 100%;
    border-radius: 0;
    background-color: white;
  }
  
  .active-way {
    border: solid 2px #D3BCC0;
    box-shadow: 0 0 10px #A5668B;
  }
  
  .btn-route {
    background-color: white;
    padding: .5rem 1rem;
    border: solid 2px gray;
    padding-inline: 2rem;
  }
  
  .wrapper{
    padding-top: 2rem;
    display: flex;
  }

  ion-toolbar {
    background-color: var(--ion-color-mycolor);
}