<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Viaja con nosotros</ion-title>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


    <div class="container">
<!-- Cards -->
              <div class="col">
                  <div class="card card2">
                    <h5> ¿No tienes transporte? </h5>
                    <p> Verifica si hay vehiculos con capacidad </p>
                    <a  href="../nomovilizacion/">Viajar</a>
                  </div>
                  </div>
                  </div>