<ion-header>
  <ion-toolbar>
    <ion-title>Viajemos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="wrapper">
    <div class="box-inputs">
      <div>
        <div id="geocoder" #asGeoCoder class="geocoder"></div>
      </div>
  
  
      <div (click)="changeMode('start')" [ngClass]="{'active-way':modeInput ==='start'}">
        <div class="mock-label">Inicio del viaje</div>
        <div class="mock-input">{{wayPoints?.start?.place_name}}</div>
      </div>
  
      <div (click)="changeMode('end')" [ngClass]="{'active-way':modeInput ==='end'}">
        <div class="mock-label">Final del viaje</div>
        <div class="mock-input">{{wayPoints?.end?.place_name}}</div>
      </div>
      <div>
        <div class="mock-label">Cantidad de personas</div>
        <div><ion-input class="cantidad-input" type="number" placeholder="Cantidad"></ion-input></div>
       
      </div>


  
    </div>
  </div>


  <div class="wrapper">
    <div id="map" #asMap class="map-container"></div>
  </div>

  <div class="letras" style="text-align:center;">
    <ion-button (click)="drawRoute()">Buscar Ruta</ion-button>
    <ion-button (click)="buscarChofer()">Pedir Viaje</ion-button>
  </div>


  
</ion-content>
