<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>
       Registro
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-label>  Nombre</ion-label>
  <ion-input [(ngModel)]="datos.name"></ion-input>

  <ion-label>Apellido</ion-label>
  <ion-input [(ngModel)]="datos.lastname"></ion-input>

    <ion-label>Correo</ion-label>
    <ion-input type="email" [(ngModel)]="datos.email"></ion-input>

    <ion-label>Edad</ion-label>
    <ion-input type="number" [(ngModel)]="datos.capacidad"></ion-input>

    <ion-label>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="datos.password"></ion-input>

    <ion-label>Género</ion-label>
    <ion-input [(ngModel)]="datos.gender"></ion-input>

    <ion-label>Comuna</ion-label>
   <ion-input [(ngModel)]="datos.comuna"></ion-input>

    <ion-label>Rut</ion-label>
   <ion-input [(ngModel)]="datos.rut"></ion-input>
    
    <ion-label>Disponible</ion-label>
     <ion-input type="number" [(ngModel)]="datos.disponible"></ion-input>



   <ion-item>
    <ion-label position="absolute">Foto</ion-label>
    <ion-button (click)="takePhoto()" required>Escoga su foto</ion-button>   
  </ion-item>

</ion-content>

<ion-item>
<ion-button (click)="registrar()">
  Registrarme
</ion-button>

<ion-button [routerLink]="['/login']" routerLinkActive="router-link-active" >
  Login
</ion-button>
</ion-item>
