<ion-header>
  <ion-toolbar>
    <ion-title>Registrar conductores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
  <div *ngIf="usuario">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lastname</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.lastname" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.gender" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.age" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="url" [(ngModel)]="usuario.image" required></ion-input>
    </ion-item>
  </div>
  </ion-card-content>
</ion-card>
  <ion-button expand="block" color="success" (click)="updateUsuario()">
    <ion-icon name="save" slot="start">UPDATE</ion-icon>
  </ion-button>
  <ion-button expand="block" color="danger" (click)="deleteUsuario()">
    <ion-icon name="trash" slot="start">DELETE</ion-icon>
  </ion-button>
</ion-content>
