ion-toolbar {
    background-color: var(--ion-color-mycolor);
}

.img-logo{
    width: 150px;
    position: absolute;
    right: 30px;
    top: 5px;
}

ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  
  ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
  }
  
  ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
  }

.custom-icon {
    width: 30px;
}
/* ion-card {
  width: 50%;
  height: 30%;
  border-radius: 20px;
}

ion-card .card {
  justify-content: center;
}

form-control {
  justify-content: center;
  left: 30%;
} */

ion-card-content {
  justify-content: center;
  left: 30%;
} 

ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

img {
  width: 100%;
  height: 30%;
}

ion-card-header {
  justify-content: center;
  left: 30%;
  display: flex;
  flex-flow: column-reverse;
}

button {

}

