<ion-header >
  <ion-toolbar color="mycolor">
    <ion-title>Clima</ion-title>

  </ion-toolbar>
</ion-header>

<!--<ion-content>
<ion-card class="card">
        <form (submit)="submitLocation(cityName, cityCode)">
         <p> <ion-label position="floating">Ciudad</ion-label> </p>
          <p><input type="text" placeholder="Ciudad" class="form-control" autofocus #cityName></p>
          <p> <ion-label position="floating">Pais</ion-label> </p>
          <input type="text" placeholder="Pais" class="form-control" #cityCode>
          <br>
          <button class="btn btn-primary btn-block mt-2">
            Obtener clima
          </button>
        </form>
</ion-card> -->
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Clima</ion-card-title>
    <ion-card-subtitle>¿A cuanto estaremos hoy?</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <form (submit)="submitLocation(cityName, cityCode)">
      <p> <ion-label position="floating">Ciudad</ion-label> </p>
       <p><input type="text" placeholder="Ciudad" class="form-control" autofocus #cityName></p>
       <p> <ion-label position="floating">Pais</ion-label> </p>
       <input type="text" placeholder="Pais" class="form-control" #cityCode>
       <br>
       <br>
       <button fill="clear">
         Obtener clima
       </button>
     </form>
  </ion-card-content>
</ion-card>
<!-- <ion-card>
  <ion-card-content>
     
      </ion-card-content>
</ion-card>
</ion-content> -->
<ion-card>

  <ion-card-content>
 <div *ngIf="weather" class="card card-body text-center">
      <h1 class="h4">Clima de hoy</h1>
      <p>Ciudad: {{weather.name}}</p>
      <p>Temperatura: {{weather.main.temp}} °C</p>
      <p>Humedad: {{weather.main.humidity}}</p>
      <p>Presión: {{weather.main.pressure}}</p>
    </div>

  </ion-card-content>
</ion-card>
</ion-content>
