<ion-header >
  <ion-toolbar color="mycolor">
    <ion-title>Clima</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="card">
        <form (submit)="submitLocation(cityName, cityCode)">
          <input type="text" placeholder="City Name" class="form-control" autofocus #cityName>
          <br>
          <input type="text" placeholder="City Code" class="form-control" #cityCode>
          <br>
          <button class="btn btn-primary btn-block mt-2">
            Obtener clima
          </button>
        </form>
</ion-card>
<ion-card>
  <ion-card-content>
      <div *ngIf="weather" class="card card-body text-center">
        <h1 class="h4">Clima de hoy</h1>
        <p>Ciudad: {{weather.name}}</p>
        <p>Temperatura: {{weather.main.temp}} °C</p>
        <p>Humedad: {{weather.main.humidity}}</p>
        <p>Presión: {{weather.main.pressure}}</p>
      </div>
      </ion-card-content>
</ion-card>
</ion-content>
