
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-color: #747272;
    background-image: url(../../../assets/img/7153677.jpg);
}
.card {
    width: 250px;
    height: 320px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    overflow: hidden;
    
}

h5{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 5px #999;
    margin-top: 10px;
    text-align: center;
}

.card p {
    color:#ffff;
    text-shadow: 0 0 5px #999;
    text-align: center;
}

.card a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #ffff;
    border: 1px solid #ffff;
    border-radius: 4px;
    transition: all 400ms ease;
    background-color: #b3b492;

}
.card1 {
        background-image: url(../../../assets/img/usuario.jpg);
        
}

.card2 {
        background-image: url(../../../assets/img/auto.jpg);
}


