<div class="container">
  <!-- Cards -->
                <div class="col">
                    <div class="card card1">
                      <h5> Inicia Sesión</h5>
                      <p> Inicia sesión para viajar</p>
                      <a  href="../login/">Viajar</a>
                    </div>
                    <div class="card card2">
                      <h5> Registrate </h5>
                      <p> Registrate para iniciar tus viajes </p>
                      <a  href="../prueba/">Registrate</a>
                    </div>
                    </div>
                    </div>