<div class="container">
  <!-- Cards -->
                <div class="col">
                    <div class="card card1">
                      <h5> ¿Eres Usuario?</h5>
                      <p> Inicia sesión para viajar</p>
                      <a  href="../login/">Viajar</a>
                    </div>
                    <div class="card card2">
                      <h5> ¿Eres chofer?</h5>
                      <p> Inicia sesión para ofrecer viajes </p>
                      <a  href="../login-chofer">Leer más</a>
                    </div>
                    </div>
                    </div>