<ion-header>
  <ion-toolbar>
    <ion-title>Modificar usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-list *ngIf="info">
    <ion-item>
      <ion-label> Nombre:
        {{info.name}}
      </ion-label>
      <ion-icon (click)="editAtributo('name')" slot="end" name="create"></ion-icon>
    </ion-item>
     <ion-item>
      <ion-label>
        Apellido:
        {{info.lastname}}
      </ion-label>
      <ion-icon (click)="editAtributo('lastname')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Correo:
        {{info.email}}
      </ion-label>
      <ion-icon (click)="editAtributo('email')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Comuna:
        {{info.comuna}}
      </ion-label>
      <ion-icon (click)="editAtributo('comuna')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Rut:
        {{info.rut}}
      </ion-label>
      <ion-icon (click)="editAtributo('rut')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Disponible:
        {{info.disponible}}
      </ion-label>
      <ion-icon (click)="editAtributo('disponible')" slot="end" name="create"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="absolute">Foto</ion-label>
      <ion-button (click)="takePhoto()" required>Escoga su foto</ion-button>   
    </ion-item>
    <ion-item>
      <img class="image"  [src]="info.imagen">
    </ion-item>

   
  </ion-list>
</ion-content>