<ion-header>
  <ion-toolbar color="mycolor">
      <ion-title>
      Login usuarios
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


  <ion-item>
    <ion-label>Correo</ion-label>
    <ion-input type="email" [(ngModel)]="credenciales.correo"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="credenciales.password"></ion-input>
  </ion-item>

<ion-button (click)="login()">
  Login
</ion-button>


<ion-button [routerLink]="['/prueba']" routerLinkActive="router-link-active" >
 O Registrate
</ion-button>
</ion-content>