<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div id="container">
    <strong>Bienvenido a Te Llevo App!</strong>
    <p>La mejor plataforma para tus viajes 
      <br>
      <a [routerLink]="['/about']">Sobre Nosotros</a>
      <br>
      <a [routerLink]="['/coversor']">Conversor</a>
      <br>
      <a [routerLink]="['/clima']">Clima</a>
      <br>
      <a [routerLink]="['/destino']">Ingresa tu destino</a>
      <br>
      <a [routerLink]="['/modificar-c']">Modifica tu perfil</a>
    </p>
</div>
</ion-content>
