ion-content {
    border-radius: 15px;
}

ion-label {
    font-size: 15px;
    line-height: 20px;
    margin: 5%
}
ion-input {
    margin: 3%;
      color: #846262;
      top:auto
}
ion-toolbar {
    background-color: var(--ion-color-mycolor);
    font-size: 10px;
}