<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>
       Registro
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
    <div *ngIf="datos">
  <ion-label>  Nombre</ion-label>
  <ion-input [(ngModel)]="datos.nombre"></ion-input>

    <ion-label>Correo</ion-label>
    <ion-input [(ngModel)]="datos.correo"></ion-input>

    <ion-label>Capacidad</ion-label>
    <ion-input type="number" [(ngModel)]="datos.capacidad"></ion-input>

    <ion-label>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="datos.password"></ion-input>

    <ion-label>Sexo</ion-label>
    <ion-input [(ngModel)]="datos.sexo"></ion-input>

    <ion-label>Patente</ion-label>
   <ion-input [(ngModel)]="datos.patente"></ion-input>

    <ion-label>Modelo</ion-label>
   <ion-input [(ngModel)]="datos.modelo"></ion-input>
    
    <ion-label>Comuna</ion-label>
     <ion-input [(ngModel)]="datos.comuna"></ion-input>

    <ion-label>Rut</ion-label>
   <ion-input [(ngModel)]="datos.rut"></ion-input>

    <ion-label>Imagen</ion-label>
   <ion-input [(ngModel)]="datos.imagen"></ion-input>
</div>
</ion-content>

<ion-item>
<ion-button (click)="registrar()">
  Registrarme
</ion-button>

<ion-button [routerLink]="['/login-chofer']" routerLinkActive="router-link-active" >
  Login
</ion-button>
</ion-item>