ion-toolbar {
    background-color: var(--ion-color-mycolor);
}

.img-logo{
    width: 150px;
    position: absolute;
    right: 30px;
    top: 5px;
}
ion-card {
    height: 95%;
    border-radius: 5px;
    width: 95%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;

}

