<ion-header>
  <ion-toolbar>
    <ion-title>Modificar chofer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu2" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-list *ngIf="info">
    <ion-item>
      <ion-label> Nombre:
        {{info.nombre}}
      </ion-label>
      <ion-icon (click)="editAtributo('nombre')" slot="end" name="create"></ion-icon>
    </ion-item>
     <ion-item>
      <ion-label>
        Capacidad:
        {{info.capacidad}}
      </ion-label>
      <ion-icon (click)="editAtributo('capacidad')" slot="end" name="create"></ion-icon>
      
    </ion-item>
    <ion-item>
      <ion-label>
        Correo:
        {{info.correo}}
      </ion-label>
      <ion-icon (click)="editAtributo('correo')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Género:
        {{info.sexo}}
      </ion-label>
      <ion-icon (click)="editAtributo('sexo')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Patente:
        {{info.patente}}
      </ion-label>
      <ion-icon (click)="editAtributo('patente')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Modelo:
        {{info.modelo}}
      </ion-label>
      <ion-icon (click)="editAtributo('modelo')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Comuna:
        {{info.comuna}}
      </ion-label>
      <ion-icon (click)="editAtributo('comuna')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Rut:
        {{info.rut}}
      </ion-label>
      <ion-icon (click)="editAtributo('rut')" slot="end" name="create"></ion-icon>
    </ion-item>
        <ion-item>
      <ion-label>
        Avatar:
        {{info.imagen}}
      </ion-label>
      <ion-icon (click)="editAtributo('imagen')" slot="end" name="create"></ion-icon>
    </ion-item>
<ion-buttons>
  <ion-icon  (click)="eliminar(info)"color="danger" slot="end" name="trash"></ion-icon>
</ion-buttons>
   
  </ion-list>
</ion-content>